@charset "UTF-8";
/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.pagecomponents {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.pagecomponents__qr {
  width: 90%;
  min-height: 90vh;
}

@media screen and (min-width: 768px) {
  .pagecomponents__qr {
    max-width: 450px; /* Ancho máximo del elemento en pantallas grandes */
    max-height: 100vh; /* Altura máxima del elemento en pantallas grandes */
  }
}
.card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 7px;
  padding: 20px 7px;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.card__header {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.card__header a {
  text-decoration: none;
}
.card__header .back {
  color: #4e7518;
  font-size: 1.5rem;
  transition: 0.2s ease;
  font-size: 2rem;
}
.card__header .back:hover {
  color: #84dd08;
}
.card__header_title {
  font-size: 1.3rem;
  color: #000;
}
.card__header__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
.card__body {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.card__body__text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

input {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}

input {
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #eee6e6;
}

input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

input::placeholder {
  color: #999;
}

textarea {
  font-size: 18px;
  padding: 0 17px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
  border: 1px solid #eee6e6;
}

textarea:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

textarea::placeholder {
  color: #999;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__group {
  margin-bottom: 0px;
}

.btn {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
}
.btn--primary {
  color: #000000;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #84dd08;
}
.btn--secondaty {
  color: #000000;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #0896dd;
}

.qr-code {
  opacity: 0;
  display: flex;
  padding: 7px;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid rgb(204, 204, 204);
}

.qr-code--active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.qr-code img {
  width: 170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d8dfe4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-1 {
  margin-top: 1rem;
}

a {
  color: #436e07;
}/*# sourceMappingURL=style.css.map */