/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// $color-primary: #84dd08;
// $color-black: #000000;

// #767cd4
// 5b8d58

$color-black: #000000;

$color-primary: #58658d;
$text-color: #ffffff;


// Definición de variables personalizadas
:root {
    --color-black: #{$color-black};
    --color-primary: #{$color-primary};
    --text-color: #{$text-color};
  }


@import './pages/home';
@import './pages/components';

@import './layouts/header';
@import './layouts/sidebar';

@import './components/card';
@import './components/input';
@import './components/textarea';
@import './components/form';
@import './components/button';
@import './components/qr';
@import './components/config';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #d8dfe4;
    position: relative;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

a {
    color: $color-primary;
}
