.btn {
    width: 200px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.1s ease;
    &--primary {
        color: #000000;
        cursor: pointer;
        margin-top: 20px;
        font-size: 17px;
        background: #84dd08;
    }
    &--secondaty {
        color: #000000;
        cursor: pointer;
        margin-top: 20px;
        font-size: 17px;
        background: #0896dd;
    }
}