.btn {
    width: 200px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.1s ease;
    &--primary {
        color: var(--text-color);
        cursor: pointer;
        margin-top: 20px;
        font-size: 17px;
        background: var(--color-primary);
    }
    &--secondaty {
        color: var(--color-black);
        cursor: pointer;
        margin-top: 20px;
        font-size: 17px;
        background: #0896dd;
    }
}