.card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 7px;
    padding: 20px 7px;
    transition: height 0.2s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    &__header {
        width: 100%;
        height: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        a {
            text-decoration: none;
        }
        .back {
            color: var(--color-primary);
            font-size: 1.5rem;
            transition: 0.2s ease;
            font-size: 2rem;
          }
          .back:hover {
            color: #84dd08;
          }


        &_title {
            font-size: 1.3rem;
            color: #000;
        }
        &__subtitle {
            font-size: 14px;
            font-weight: 400;
            color: #999;
        }
    }
    &__body {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        &__text {
            font-size: 16px;
            font-weight: 400;
            color: #333;
            text-align: center;
        }
    }
}