input {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.1s ease;
}
input {
    font-size: 14px;
    padding: 0 17px;
    border: 1px solid #eee6e6;
}

input:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

input::placeholder {
    color: #999;
}




.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    text-align: center; /* centra horizontalmente el contenido del contenedor */
  }
  
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .checkbox:hover input ~ .checkmark {
    border: 2px solid #539740;
    transition: all 100ms ease;
  }
  
  .checkbox input:checked ~ .checkmark {
    background-color: $color-primary;
    border-color: $color-primary;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  