.qr-code{
  opacity: 0;
  display: flex;
  padding: 7px;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid rgb(204, 204, 204);
}
.qr-code--active{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}