.pagehome {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .pagehome {
        flex-direction: row;
    }
}