
/* SIDEBAR */
.sidebar {
    width: 80%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    border-right: 1px solid rgb(197, 190, 190);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    /* background-image: url('https://cdn.pixabay.com/photo/2018/01/11/21/27/laptop-3076957_960_720.jpg'); */

}
.sidebar__brand {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(229, 215, 215);

}
.sidebar__brand_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
}
.sidebar__brand_item i {
    font-size: 24px;
    color: #3b3f6a;
}

.sidebar--active {
    transform: translateX(0); 
}

.sidebar__brand_title {
    color:#3b3f6a;
}

.sidebar__profile {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */

}
.sidebar__profile_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
}
.sidebar__profile_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 2rem;
}
.sidebar__profile_item span {
    color: #ffffff;
}
.sidebar__profile_name {
    font-size: 18px;
}

img {
    width: 100%;
    height: 100%;
}

.sidebar__menu {
    min-height: 20%;
    width: 100%;
}
.sidebar__menu .list {
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
}
.sidebar__menu .list .list__item {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b3f6a;
}
.sidebar__menu .list .list__item i{
    margin: 0 1rem;
}
.sidebar__menu .list .list__item a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-primary;
    text-decoration: none;
    transition: 500ms all ease;
}
.sidebar__menu .list .list__item a:hover{
    transform: translateX(10px);
    transition: 500ms all ease;
}
.a--disabled {
    pointer-events: none;
    color: #e9e9f6!important;
}




@media (min-width: 700px)  {
    .container {
        width: 98%;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .sidebar {
        width: 23%;
        height: 100vh;
    }
}
